.reso-container {
    color: rgb(160, 243, 243);
    font-size: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .reso-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
  }
}
@media only screen and (max-width: 899px) {
  .reso-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }
}
@media only screen and (max-width: 815px) {
  .reso-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}